.location {
  height: 40px;
  padding: 0px var(--gap-medium);
  flex-grow: 1;

  color: var(--shade-darker-4);
  background-color: var(--shade-darker-1);
  border-radius: 20px;
  font-size: var(--font-size-medium);

  display: flex;
  align-items: center;
  gap: var(--gap-small);
}

.location input {
  flex-grow: 1;
  border: none;
  outline: none;

  background-color: rgba(0, 0, 0, 0);
  font-family: inherit;
  font-size: var(--font-size-medium);
}
